{% extends 'base.html' %} {% block titulo %}Logout - Jornal-App{% endblock %} {%
block conteudo %}

<nav>
  <ul>
    <li><a href="/">Tela Inicial</a></li>
    <li><a href="/configuracao">Configurações</a></li>
  </ul>
    </nav>
  </ul>
</nav>

<nav>
  <ul>
    <li>
      <article>
        <h3><p>Você saiu</p></h3>
        <h5>Pode fechar o App</h5>
      </article>
    </li>
  </ul>
</nav>
{% endblock %} {% block js %}
<script type="text/javascript" src="/static/js/logout.js"></script>
{% endblock %}
